## COLLECTION OF NATIONAL HEALTH & NUTRITION EXAMINATION SURVEY DATA FOR PROJECT

This worksheet is used for collecting, combining, and filtering of data from the National Health & Nutrition Examination Survey.
Data is posted in XPT format in two-year increments for various topics related to the survey.  Data was collected for 1999-2016.

*Note on the data: NHANES sample weights are used by analysts to produce estimates of the health-related statistics that would have been obtained if the entire sampling frame (i.e., the noninstitutionalized civilian U.S. population) had been surveyed.*

In [114]:
import pandas as pd
from functools import reduce
import pickle

#### KEY:
Key for letters that correspond to 2-year ranges.  Letters selected for their correspondence to labeling of the years by NHANES. >

E = 2007 - 2008</br>
F = 2009 - 2010</br>
G = 2011 - 2012</br>
H = 2013 - 2014</br>
I = 2015 - 2016</br>

### STEP 1: PULLING THE DATA

-

#### E: 2007-2008 file pull and merge:

In [47]:
# Pull in XPT files to create dataframes

E_blood_press = pd.read_sas('NHANES_files/blood_pressure/E_BloodPressure_BPX_E.XPT') #blood pressure (target)

E_body_meas = pd.read_sas('NHANES_files/body_measures/E_BodyMeasures_BMX_E.XPT') #body measures

E_diet = pd.read_sas('NHANES_files/dietary_selections/E_diet_DBQ_E.XPT') #dietary selections
                    
E_smoking = pd.read_sas('NHANES_files/smoking_status/E_smoking_SMQ_E.XPT') #smoking status

E_physical_act = pd.read_sas('NHANES_files/physical_activity/E_physical_act_PAQ_E.XPT') #physical activity

E_age_gender_race = pd.read_sas('NHANES_files/age_gender_race/E_demographic_DEMO_E.XPT') #age, gender, & race

E_alcohol = pd.read_sas('NHANES_files/alcohol_consumption/E_alcohol_ALQ_E.XPT') #alcohol consumption

E_medical_cond = pd.read_sas('NHANES_files/medical_conditions/E_med_con_MCQ_E.XPT') #medical conditions

E_work_info = pd.read_sas('NHANES_files/work_info/E_work_OCQ_E.XPT') #work info

In [58]:
# merge lists together on each respondents 'sequence number'

E_merged_total = reduce(lambda x,y: pd.merge(x,y, on='SEQN', how='outer'),
                        [E_blood_press, E_body_meas,
                         E_diet, E_smoking, E_physical_act,
                         E_age_gender_race, E_alcohol,
                         E_medical_cond, E_work_info,])

In [65]:
#narrow df to only the features & target we want to explor for model

E_filtered = E_merged_total[["SEQN","BPXSY1","BPXSY2","BPXSY3",
                             "BPXDI1","BPXDI2","BPXDI3",
                             "BMXBMI","BMXWAIST","BMXHT",
                             "BMXWT", "DBD895","DBD905",
                             "DBD910","SMQ020","SMQ040",
                             "PAQ605","PAQ620","PAQ635",
                             "PAQ650","PAD680","RIAGENDR",
                             "RIDAGEYR","RIDRETH1",
                             "ALQ101","ALQ120U","OCD150",
                             "OCQ180",
                            ]]

-

#### F: 2009-2010 file pull and merge:

In [70]:
# Pull in XPT files to create dataframes

F_blood_press = pd.read_sas('NHANES_files/blood_pressure/F_BloodPressure_BPX_F.XPT') #blood pressure (target)

F_body_meas = pd.read_sas('NHANES_files/body_measures/F_BodyMeasures_BMX_F.XPT') #body measures

F_diet = pd.read_sas('NHANES_files/dietary_selections/F_diet_DBQ_F.XPT') #dietary selections
                    
F_smoking = pd.read_sas('NHANES_files/smoking_status/F_smoking_SMQ_F.XPT') #smoking status

F_physical_act = pd.read_sas('NHANES_files/physical_activity/F_physical_act_PAQ_F.XPT') #physical activity

F_age_gender_race = pd.read_sas('NHANES_files/age_gender_race/F_demographic_DEMO_F.XPT') #age, gender, & race

F_alcohol = pd.read_sas('NHANES_files/alcohol_consumption/F_alcohol_ALQ_F.XPT') #alcohol consumption

F_medical_cond = pd.read_sas('NHANES_files/medical_conditions/F_med_con_MCQ_F.XPT') #medical conditions

F_work_info = pd.read_sas('NHANES_files/work_info/F_work_OCQ_F.XPT') #work info

In [71]:
# merge lists together on each respondents 'sequence number'

F_merged_total = reduce(lambda x,y: pd.merge(x,y, on='SEQN', how='outer'),
                        [F_blood_press, F_body_meas,
                         F_diet, F_smoking, F_physical_act,
                         F_age_gender_race, F_alcohol,
                         F_medical_cond, F_work_info])

In [72]:
F_merged_total.head()

,SEQN,PEASCST1,PEASCTM1,PEASCCT1,BPXCHR,BPQ150A,BPQ150B,BPQ150C,BPQ150D,BPAARM,...,OCD392,OCD395,OCQ510,OCQ520,OCQ530,OCQ540,OCQ550,OCQ560,OCQ570,OCQ580
0,51624.0,1.0,583.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,...,19.0,120.0,2.0,NaN,2.0,NaN,1.0,1.0,1.0,1.0
1,51625.0,1.0,278.0,NaN,92.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,51626.0,1.0,689.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,51627.0,1.0,699.0,NaN,NaN,2.0,2.0,2.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,51628.0,1.0,1098.0,NaN,NaN,1.0,2.0,2.0,2.0,1.0,...,21.0,60.0,1.0,38.0,1.0,38.0,1.0,38.0,1.0,38.0

In [73]:
#narrow df to only the features & target we want to explor for model

F_filtered = F_merged_total[["SEQN","BPXSY1","BPXSY2","BPXSY3",
                             "BPXDI1","BPXDI2","BPXDI3",
                             "BMXBMI","BMXWAIST","BMXHT",
                             "BMXWT", "DBD895","DBD905",
                             "DBD910","SMQ020","SMQ040",
                             "PAQ605","PAQ620","PAQ635",
                             "PAQ650","PAD680","RIAGENDR",
                             "RIDAGEYR","RIDRETH1",
                             "ALQ101","ALQ120U","OCD150",
                             "OCQ180",
                            ]]

-

#### G: 2011-2012 file pull and merge:

In [84]:
# Pull in XPT files to create dataframes

G_blood_press = pd.read_sas('NHANES_files/blood_pressure/G_BloodPressure_BPX_G.XPT') #blood pressure (target)

G_body_meas = pd.read_sas('NHANES_files/body_measures/G_BodyMeasures_BMX_G.XPT') #body measures

G_diet = pd.read_sas('NHANES_files/dietary_selections/G_diet_DBQ_G.XPT') #dietary selections
                    
G_smoking = pd.read_sas('NHANES_files/smoking_status/G_smoking_SMQ_G.XPT') #smoking status

G_physical_act = pd.read_sas('NHANES_files/physical_activity/G_physical_act_PAQ_G.XPT') #physical activity

G_age_gender_race = pd.read_sas('NHANES_files/age_gender_race/G_demographic_DEMO_G.XPT') #age, gender, & race

G_alcohol = pd.read_sas('NHANES_files/alcohol_consumption/G_alcohol_ALQ_G.XPT') #alcohol consumption

G_medical_cond = pd.read_sas('NHANES_files/medical_conditions/G_med_con_MCQ_G.XPT') #medical conditions

G_work_info = pd.read_sas('NHANES_files/work_info/G_work_OCQ_G.XPT') #work info

In [85]:
# merge lists together on each respondents 'sequence number'

G_merged_total = reduce(lambda x,y: pd.merge(x,y, on='SEQN', how='outer'),
                        [G_blood_press, G_body_meas,
                         G_diet, G_smoking, G_physical_act,
                         G_age_gender_race, G_alcohol,
                         G_medical_cond, G_work_info])

In [87]:
#narrow df to only the features & target we want to explor for model

G_filtered = G_merged_total[["SEQN","BPXSY1","BPXSY2","BPXSY3",
                             "BPXDI1","BPXDI2","BPXDI3",
                             "BMXBMI","BMXWAIST","BMXHT",
                             "BMXWT", "DBD895","DBD905",
                             "DBD910","SMQ020","SMQ040",
                             "PAQ605","PAQ620","PAQ635",
                             "PAQ650","PAD680","RIAGENDR",
                             "RIDAGEYR","RIDRETH1",
                             "ALQ101","ALQ120U","OCD150",
                             "OCQ180",
                            ]]

-

#### H: 2013-2014 file pull and merge:

In [94]:
# Pull in XPT files to create dataframes

H_blood_press = pd.read_sas('NHANES_files/blood_pressure/H_BloodPressure_BPX_H.XPT') #blood pressure (target)

H_body_meas = pd.read_sas('NHANES_files/body_measures/H_BodyMeasures_BMX_H.XPT') #body measures

H_diet = pd.read_sas('NHANES_files/dietary_selections/H_diet_DBQ_H.XPT') #dietary selections
                    
H_smoking = pd.read_sas('NHANES_files/smoking_status/H_smoking_SMQ_H.XPT') #smoking status

H_physical_act = pd.read_sas('NHANES_files/physical_activity/H_physical_act_PAQ_H.XPT') #physical activity

H_age_gender_race = pd.read_sas('NHANES_files/age_gender_race/H_demographic_DEMO_H.XPT') #age, gender, & race

H_alcohol = pd.read_sas('NHANES_files/alcohol_consumption/H_alcohol_ALQ_H.XPT') #alcohol consumption

H_medical_cond = pd.read_sas('NHANES_files/medical_conditions/H_med_con_MCQ_H.XPT') #medical conditions

H_work_info = pd.read_sas('NHANES_files/work_info/H_work_OCQ_H.XPT') #work info

In [95]:
# merge lists together on each respondents 'sequence number'

H_merged_total = reduce(lambda x,y: pd.merge(x,y, on='SEQN', how='outer'),
                        [H_blood_press, H_body_meas,
                         H_diet, H_smoking, H_physical_act,
                         H_age_gender_race, H_alcohol,
                         H_medical_cond, H_work_info])

In [96]:
H_filtered = H_merged_total[["SEQN","BPXSY1","BPXSY2","BPXSY3",
                             "BPXDI1","BPXDI2","BPXDI3",
                             "BMXBMI","BMXWAIST","BMXHT",
                             "BMXWT", "DBD895","DBD905",
                             "DBD910","SMQ020","SMQ040",
                             "PAQ605","PAQ620","PAQ635",
                             "PAQ650","PAD680","RIAGENDR",
                             "RIDAGEYR","RIDRETH1",
                             "ALQ101","ALQ120U","OCD150",
                             "OCQ180",
                            ]]

-

#### I: 2015-2016 file pull and merge:

In [100]:
# Pull in XPT files to create dataframes

I_blood_press = pd.read_sas('NHANES_files/blood_pressure/I_BloodPressure_BPX_I.XPT') #blood pressure (target)

I_body_meas = pd.read_sas('NHANES_files/body_measures/I_BodyMeasures_BMX_I.XPT') #body measures

I_diet = pd.read_sas('NHANES_files/dietary_selections/I_diet_DBQ_I.XPT') #dietary selections
                    
I_smoking = pd.read_sas('NHANES_files/smoking_status/I_smoking_SMQ_I.XPT') #smoking status

I_physical_act = pd.read_sas('NHANES_files/physical_activity/I_physical_act_PAQ_I.XPT') #physical activity

I_age_gender_race = pd.read_sas('NHANES_files/age_gender_race/I_demographic_DEMO_I.XPT') #age, gender, & race

I_alcohol = pd.read_sas('NHANES_files/alcohol_consumption/I_alcohol_ALQ_I.XPT') #alcohol consumption

I_medical_cond = pd.read_sas('NHANES_files/medical_conditions/I_med_con_MCQ_I.XPT') #medical conditions

I_work_info = pd.read_sas('NHANES_files/work_info/I_work_OCQ_I.XPT') #work info

In [101]:
# merge lists together on each respondents 'sequence number'

I_merged_total = reduce(lambda x,y: pd.merge(x,y, on='SEQN', how='outer'),
                        [I_blood_press, I_body_meas,
                         I_diet, I_smoking, I_physical_act,
                         I_age_gender_race, I_alcohol,
                         I_medical_cond, I_work_info])

In [102]:
I_filtered = I_merged_total[["SEQN","BPXSY1","BPXSY2","BPXSY3",
                             "BPXDI1","BPXDI2","BPXDI3",
                             "BMXBMI","BMXWAIST","BMXHT",
                             "BMXWT", "DBD895","DBD905",
                             "DBD910","SMQ020","SMQ040",
                             "PAQ605","PAQ620","PAQ635",
                             "PAQ650","PAD680","RIAGENDR",
                             "RIDAGEYR","RIDRETH1",
                             "ALQ101","ALQ120U","OCD150",
                             "OCQ180",
                            ]]

### STEP 2: CREATE MASTER LIST
Now combine all 2-year dataframes created above and clean up the data.

Stack all of the dataframes >

In [178]:
full_dataset = pd.concat([E_filtered, F_filtered,
                          G_filtered, H_filtered,
                          I_filtered],
                         ignore_index=True)


Pickle the full dataset to save >

In [200]:
with open('pickles/full_dataset.pickle', 'wb') as to_write:
    pickle.dump(full_dataset, to_write)

Now un-pickle to work with full dataset >

In [201]:
with open('pickles/full_dataset.pickle','rb') as read_file:
    nhanes_data = pickle.load(read_file)

Now let's clean up the dataset >

In [202]:
nhanes_data.rename(columns={"SEQN":"Patient_ID",
                            "BPXSY1": "Systolic_1Rd",
                            "BPXSY2": "Systolic_2Rd",
                            "BPXSY3": "Systolic_3Rd",
                            "BPXDI1": "Diastolic_1Rd",
                            "BPXDI2": "Diastolic_2Rd",
                            "BPXDI3": "Diastolic_3Rd",
                            "BMXBMI": "BMI",
                            "BMXWAIST": "Waist_Circum",
                            "BMXHT": "Height",
                            "BMXWT": "Weight",
                            "DBD895": "Eat_Out",
                            "DBD905": "Ready_to_Eat",
                            "DBD910": "Frozen_Foods",
                            "SMQ020": "Smoked_Hund",
                            "SMQ040": "Curr_Smoke",
                            "PAQ605": "Work_Vig_Act",
                            "PAQ620": "Work_Mod_Act",
                            "PAQ635": "Walk_Bike",
                            "PAQ650": "Rec_Vig_Act",
                            "PAD680": "Sitting_Time",
                            "RIAGENDR": "Gender",
                            "RIDAGEYR": "Age",
                            "RIDRETH1": "Race",
                            "ALQ101": "Twelve_Alcohol",
                            "ALQ120U": "Days_Alcohol_Wk",
                            "OCD150": "Job_Type",
                            "OCQ180": "Num_Hrs_Worked_Wk"
                           }, inplace=True)

Replace codes used in certain columns with applicable text >

In [203]:
# smoked over 100 times in lifetime
# 1.0 = Yes and 2.0 = No, so changing to 1 and 0 so can work as dummy category

nhanes_data['Smoked_Hund'].replace({1.0: 1, 2.0: 0}, inplace=True)

In [217]:
# vigorous work activity
# 1.0 = Yes and 2.0 = No, so changing to 1 and 0 so can work as dummy category

nhanes_data['Work_Vig_Act'].replace({1.0: 1, 2.0: 0}, inplace=True)

In [220]:
# moderate work activity
# 1.0 = Yes and 2.0 = No, so changing to 1 and 0 so can work as dummy category

nhanes_data['Work_Mod_Act'].replace({1.0: 1, 2.0: 0}, inplace=True)

In [223]:
# walk or bicycle at least for 10 min continuous in typical week
# 1.0 = Yes and 2.0 = No, so changing to 1 and 0 so can work as dummy category

nhanes_data['Walk_Bike'].replace({1.0: 1, 2.0: 0}, inplace=True)

In [225]:
# vigorous-intensity fitness or activities for 10 min continuous in typical week
# 1.0 = Yes and 2.0 = No, so changing to 1 and 0 so can work as dummy category
# also droping those that have been coded as missing or refused to answer

nhanes_data['Rec_Vig_Act'].replace({1.0: 1, 2.0: 0}, inplace=True)

rec_vig_indices = nhanes_data[(nhanes_data['Rec_Vig_Act'] == 9.0)
                             ].index

nhanes_data.drop(rec_vig_indices, inplace=True)

In [236]:
# sitting time
# get rid of values that represent 'don't know' or 'missing'

sit_indices = nhanes_data[(nhanes_data['Sitting_Time'] == 7777.0)
                          | (nhanes_data['Sitting_Time'] == 9999.0)
                         ].index

nhanes_data.drop(sit_indices, inplace=True)

In [204]:
# race

nhanes_data['Race'].replace({1.0: "Mexican_American", 2.0: "Other_Hispanic",
                             3.0: "Non_Hispanic_White", 4.0: "Non_Hispanic_Black",
                             5.0: "Other_Race"
                            }, inplace=True)

In [206]:
# eating out
# category uses extremely low number for 'none' -- replaced with 0

nhanes_data['Eat_Out'].replace({5.397605346934028e-79: 0}, inplace=True)

In [209]:
# ready-to-eat
# category uses extremely low number for 'none' -- replaced with 0

nhanes_data['Ready_to_Eat'].replace({5.397605346934028e-79: 0}, inplace=True)

In [212]:
# frozen foods
# category uses extremely low number for 'none' -- replaced with 0
nhanes_data['Frozen_Foods'].replace({5.397605346934028e-79: 0}, inplace=True)

In [237]:
max(nhanes_data['Sitting_Time'])

1380.0

# NOTES FOR HOW TO "CLEAN" UP BLOOD PRESSURE DATA & THEN CREATE Y VALUE

In [77]:
#drop all of the rows with null values

test_blood_pressure_nonull = test_blood_pressure.dropna()

In [87]:
# Create new column for all mean of diastolic readings

test_blood_pressure_nonull['Systolic_Avg'] = test_blood_pressure_nonull[
    ['Systolic_Rd1', 'Systolic_Rd2','Systolic_Rd3']].mean(axis=1)

In [89]:
# Create new column for all mean of diastolic readings

test_blood_pressure_nonull['Diastolic_Avg'] = test_blood_pressure_nonull[
    ['Diastolic_Rd1', 'Diastolic_Rd2','Diastolic_Rd3']].mean(axis=1)

In [105]:
# function to determine whether person has high blood pressure

def blood_pressure_status(row):
    if row['Systolic_Avg'] > 130 or row['Diastolic_Avg'] > 80:
        return 1
    return 0

In [109]:
# application of above function to run through entire dataframe

test_blood_pressure_nonull['High_Blood_Pressure'] = test_blood_pressure_nonull.apply(
    lambda row: blood_pressure_status(row), axis=1)

In [111]:
# See how many have high blood pressure in the data set (1 = high blood pressure)

test_blood_pressure_nonull.High_Blood_Pressure.value_counts()

0    7762
1    3032
Name: High_Blood_Pressure, dtype: int64